<div class="all-sides-centering">
    <span id="label-ask">
        Type below to ask Jarvis any of your queries!
    </span>
    <div class="user-input-outer-layer">
        <label class="all-sides-centering align-inputs">
            <img
                    src="../assets/images/message-icon.png"
                    id="message-icon-style"
                    alt="input message to ask Jarvis"
            >
            &nbsp; &nbsp;
            <input
                    type="text"
                    maxlength="300"
                    size="35"
                    class="user-message-input-area"
                    placeholder="Type a Message .. "
            >
            <button
                    class="user-input-ask-button"
            >
                Ask
            </button>
        </label>
    </div>
</div>
