<div data-ng-init="initStack()">
    <span id="chat-screen">
        -- Chat Screen --
        <hr>
    </span>
    <!-- message field -->
    <div id="message-bar" data-ng-init="toggleStartStop">
        <div id="message-input-parent">
            <input type="text" name="" id="message-input" data-ng-model="message" data-ng-change="removeMessage()">
            <button id="message-bar-send" data-ng-click="addMessagesToStack()">
                Send
            </button>
            <!-- banner -->
            <div id="banner-listen" data-ng-show="showLoaderListening">
                <span>Listening ... </span>
                <img src="../assest/icons/load.gif" alt="listening to you. Please keep speaking.." id="loader" srcset="">
            </div>
            <img src="../assest/icons/mic.png" alt="Click to Start/Stop speaking" id="button" style="height: 40px;margin-left: 15px;" data-ng-click="toggleStartStop()" />
        </div>
    </div>

    <!-- chat screen -->

    <div data-ng-show="messageStack.length !== 0" id="stackArea-parent">
        <div data-ng-repeat="message in messageStack" id="stackArea">
            <div data-ng-if="message.sender === 'you'" class="chat-screen-messages-you">
                {{message.message}}
                <span>
                    <sub class="show-user-creds">
                        {{message.sender}}
                        {{message.time}}
                    </sub>
                </span>
            </div>
            <div data-ng-if="message.sender === 'jarvis-bot'" class="chat-screen-messages-you">
                {{message.message}}
                <span>
                    <sub class="show-user-creds">
                        {{message.sender}}
                        {{message.time}}
                    </sub>
                </span>
            </div>
        </div>
    </div>
</div>

