<div id="sidebar">
    <br>
    <span id="sidebar-header">
        Utilities Hub
    </span>
    <br>
    <br>
    <br>
    <!-- <form action="" style="padding:3.5%;">
        <div class="form-group">
          <label for="text">Github-Email:</label>
          <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="pwd">Github Password:</label>
          <input type="password" class="form-control" id="pwd">
        </div>
        <div class="form-group">
          <label for="pwd">Root Password:</label>
          <input type="password" class="form-control" id="pwdroot">
        </div>
        <div class="checkbox">
          <label><input type="checkbox"> Remember me</label>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Submit</button>
    </form> -->
</div>
