view/node_modules
view/package-lock.json
tests/node_modules
tests/package-lock.json
service/audio/
conversations/audio/
tests/audio/
tests/mochawesome-report
package-lock.json
service/subprocesses/node_modules/
service/jarvis.db
node_modules/