body {
    background-image: url("../assets/Background/MainBG.png");
}

header {
    display: block;
    height: 35px;
    border-bottom: 2px solid #f6f6f6;
    font-size: x-large;
    background-color: #d63434;
}

#PA {
    font-size: 15px;
}

#sidebar {
    height: 94vh;
    max-height: 100vh;
    border-right: 2px solid #6d5e5e;
    position: absolute;
    width: 27%;
    background-color: rgb(132, 197, 175);
}

#message-input-parent {
    position: fixed;
    bottom: 10px;
    width: 100%;
    padding: 1%;
}

#message-input {
    width: 45%;
    border-radius: 10px;
    background-color: #fff;
    padding: 7px;
    border: 2px solid rebeccapurple;
}

#stackArea-parent {
    height: 75vh;
    overflow-y: scroll;
}

#stackArea {
    padding: 0;
    margin: 0;
    max-height: 2000px;
    margin-bottom: 20px;
}

#message-bar-send {
    margin:0 0 5px 10px; 
}

.chat-screen-messages-you {
    border: 1px solid black;
    display: inline-flex;
    padding: 4px;
    background-color:floralwhite;
    border-radius: 4px;
    margin: 4px;
    margin-left: 10px !important;
    float: right;
}

.chat-screen-messages-jarvis-bot {
    border: 1px solid black;
    padding: 4px;
    background-color: #FFF9C4;
    border-radius: 4px;
    margin: 4px;
    width: fit-content;
    margin-left: 40px !important;
    margin-top: 20px;
}



.show-user-creds {
    padding: 5px;
}

#banner-listen {
    position: fixed;
    top: 8%;
    right: 5%;
    font-size: 20px;
    font-weight: 500;
}

#loader {
    height: 30px;
}

#button {
    height: 50px;
    margin: 0 0 0 20px;
}

#message-bg {
    background-color: floralwhite;
}

#inner-component-header ,h4 {
    color:floralwhite;
    margin-left: 1%;
    padding: 0;
}

#PA {
    font-family:cursive;
}

#queried-data {
    color: black;
    font-size: 10px;
}

.head-query-data {
    color: black;
    font-size: 12px;
    font-weight: 700;
}

#sidebar-header {
    margin-left: 30%;
    font-size: 20px;
    color: black;
    font-weight: 500;
    text-decoration: underline;
}

#chat-screen {
    margin-left: 40%;
    font-size: 20px;
    color: black;
    font-weight: 500;
    text-decoration: underline;
}

.message-style{
    border-bottom: 1px solid #b1d6b1;
    padding-bottom: inherit;
}