body {
    background-image: url("../assets/Background/MainBG.png");
}

header {
    display: block;
    height: 35px;
    border-bottom: 2px solid #f6f6f6;
    font-size: x-large;
    background-color: #d63434;
}

#PA {
    font-size: 15px;
}

#sidebar {
    height: 94vh;
    max-height: 100vh;
    border-right: 2px solid #6d5e5e;
    position: absolute;
    width: 230px;
    background-color: rgb(132, 197, 175);
}

#message-input-parent {
    position: fixed;
    bottom: 10px;
    width: 100%;
    padding: 1%;
}

#message-input {
    width: 50%;
    border-radius: 10px;
    background-color: #fff;
    padding: 7px;
}

#stackArea-parent {
    height: 75vh;
    overflow-y: scroll;
}

#message-bar-send {
    color: #fff;
    font-weight: 600;
    margin-left: 18px;
    background-color: #e43d3d;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.chat-screen-messages-you {
    border: 1px solid black;
    display: inline-flex;
    padding: 4px;
    background-color:floralwhite;
    border-radius: 4px;
    margin: 4px;
    margin-left: 10px !important;
}

.chat-screen-messages-jarvis-bot {
    border: 1px solid black;
    display: inline-flex;
    padding: 4px;
    background-color:#FFF9C4;
    border-radius: 4px;
    margin: 4px;
    margin-left: 40px !important;
}

#chat-screen {
    text-align: center;
    display: list-item;
    color:rebeccapurple;
}

.show-user-creds {
    padding: 5px;
}

#banner-listen {
    position: fixed;
    top: 91.5%;
    left: 80%;
    font-size: 20px;
    font-weight: 900;
    
}

#loader {
    height: 30px;
}

#message-bg {
    background-color: floralwhite;
}

#inner-component-header ,h4 {
    color:floralwhite;
    margin-left: 1%;
    padding: 0;
}

#PA {
    font-family:cursive;
}

#queried-data {
    color: black;
    font-size: 10px;
}

.head-query-data {
    color: black;
    font-size: 12px;
    font-weight: 700;
}