<div>
    <div data-ng-if="showWeatherScope">
        <div data-ng-include="'components/weather-view.html'"></div>
    </div>

    <div data-ng-if="showQueryScope">
        <div data-ng-include="'components/query-view.html'"></div>
    </div>

    <div data-ng-if="showVideoScope">
        <div data-ng-include="'components/video-view.html'"></div>
    </div>

    <div data-ng-if="showMedicineHealthScope">
        <div data-ng-include="'components/medicine-view.html'"></div>
    </div>

    <div data-ng-if="showImageScope">
        <div data-ng-include="'components/image-view.html'"></div>
    </div>

    <div data-ng-if="showGeneralScope">
        <div data-ng-include="'components/general-view.html'"></div>
    </div>

    <div data-ng-if="showMeaningScope">
        <div data-ng-include="'components/meaning-view.html'"></div>
    </div>

    <div data-ng-if="showEmailScope">
        <div data-ng-include="'components/email-view.html'"></div>
    </div>

</div>