<!DOCTYPE html>
<html lang="en" data-ng-app="jarvis-desktop">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <script src="../dependencies/angular.min.js"></script>
    <script src="../dependencies/ng-storage.min.js"></script>
    <script src="../dependencies/angular-route.min.js"></script>
    <script src="../dependencies/angular-animate.min.js"></script>
    <script src="../dependencies/jquery.min.js"></script>
    <script src="../scripts/index.js"></script>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../assets/css/main.css"/>
    <title>Jarvis - The Personal Assistant | Desktop</title>
</head>
<body>
    <header data-ng-include="'components/header.html'"></header>
    <main data-ng-view></main>
    <footer></footer>
</body>
</html>