<!-- Handles query requests -->
<div class="outer-layer-response" data-ng-controller="query-view-controller">
    <div id="queried-data" data-ng-if="queryData.length !== 0">
        <br/>
        <div data-ng-repeat="objectQuery in queryData" >
            <div class="card">
                <div class = "card-body">
                    <p class="meaning">{{$index + 1}}. {{objectQuery.meaning}}</p>
                    <p class="example"><i>Example: {{objectQuery.example}}</i></p>
                    <div data-ng-repeat="sub in objectQuery.submeaning" id="submean">
                        <p class="submeaning">{{$parent.$index + 1}}.{{$index+1}}. {{sub.Smean}}</p>
                        <p class="subexample"><i>Example: {{sub.Subexample}}</i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>