.logo-pre-query {
    height: 110px;
    position: absolute;
    padding: 5px;
    top: 43%;
    border-radius: 15px;
    background-color: white;
    left: 40%;
}

.all-sides-centering {
    display: flex;
    justify-content: center;
    align-items: center;
}

.jarvis-bot-area {
    background-color: blue;
    color: white;
    height: 50%;
    width: 100%;
    text-align: center;
    vertical-align: center;
    padding: 0;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 25px;
    transition: all 1s ease-in-out;
}

.hide {
    height: 0px;
}

.user-area-pre-query {
    position: absolute;
    bottom: 20%;
    font-size: 20px;
}

.outer-layer {
    padding: 15px;
    background-color: rgba(225, 225, 225, 0.45);
    border-radius: 10px;
    max-width: 70%;
}

.user-message-input-area {
    line-height: 30px;
    font-size: 13px;
    border-color: #f8f8f8;
    border-radius: 5px;
    margin-left: 15px;
}

#message-icon-style {
    height: 40px;
}


.user-input-ask-button {
    background-color: white;
    color: blue;
    padding: 2px 10px 2px 10px;
    font-size: 15px;
    margin-left: 20px;
    border-radius: 8px;
}

.user-input-outer-layer {
    background-color: blue;
    margin-left: 14%;
    border-radius: 10px;
    padding: 0px 20px 0px 10px;
}

#label-ask {
    position: absolute;
    top: -30px;
    left: 40px;
    font-size: 15px;
}

.animate {
    transition: all linear 1s;
}

.animate.ng-enter {
    transition: all linear 0.25s;
    opacity: 0;
}

.animate.ng-leave {
    transition: all linear 1s;
    opacity: 1;
}
