<!DOCTYPE html>
<html data-ng-app="jarvis">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Jarvis - Personal Assistant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./js/services/angular.min.js"></script>
    <script src="./js/services/angular-route.js"></script>
    <script src="./js/services/angular.min.js.map"></script>
    <script src="./js/services/jquery-3.2.1.min.js"></script>
    <script src="./js/services/d3.v4.js"></script>
    <script src="./js/services/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/services/bootstrap.min.css">
</head>
<body>
    <div data-ng-include="'components/main.html'" ></div>
</body>
</html>